<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sabores da Casa{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            font-family: 'Inter, sans-serif';
        }
    </style>
</head>
<body class="bg-gray-100 text-gray-900">
    <header class="bg-gray-900 text-white p-6 shadow-lg rounded-b-lg">
        <div class="container mx-auto relative flex items-center justify-between">
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="flex items-center">
                    <div class="text-4xl mr-4">
                        <i class="fas fa-mortar-pestle"></i>
                    </div>
                    <a href="../home.html"><h1  class="text-3xl font-bold">Sabores da Casa</h1></a>
                </div>
            </div>
    </header>
    
    <main class="container mx-auto p-6 mt-8 bg-white rounded-lg shadow-md">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="mt-12 p-6 text-center text-gray-600">
        <p>&copy; 2023 Minhas Receitas. Todos os direitos reservados a Romulo.</p>
    </footer>
    
</body>
</html>