{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas Receitas</title>
    <script src="https://cdn.tailwindcss.com"></script> <!-- Esta tag serve para importar o Tailwind CSS na sua página web de forma rápida e prática, direto via CDN (Content Delivery Network). -->
    
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css 
    integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" />
    <style> 
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>
<body class="bg-gray-100 text-gray-900"> 
    <header class="bg-gray-900 text-white p-6 shadow-lg rounded-b-lg">
        <div class="container mx-auto flex flex-col sm:flex-row items-center justify-center"> 
            <div class="flex items-center mb-4 sm:mb-0">
                <div class="text-4xl mr-4">
                    <i class="fas fa-utensils"></i> 
                </div>
                <h1 class="text-4xl font-bold text-center sm:text-left">
                    Minhas Receitas Deliciosas
                </h1>
            </div>
            <nav class="mt-4 sm:mt-0">
            </nav>
        </div>
    </header>
    <section class="container mx-auto mt-8 p-4 flex justify-center">
        <div class="w-full max-w-lg flex bg-white rounded-full shadow-md overflow-hidden">
            <input 
                type="text" 
                placeholder="Pesquisar receitas..." 
                class="flex-grow p-3 text-gray-700 focus:outline-none focus:ring-2 focus:ring-orange-500 rounded-l-full pl-5">
            <button class="bg-orange-500 hover:bg-orange-600 text-white p-3 px-6 rounded-r-full ransition duration-200 ease-in-out flex items-center justify-center">
                <i class="fas fa-search mr-2"></i>Pesquisar
            </button>
        </div>
    </section>


    <main class="container mx-auto p-6 mt-8 bg-white rounded-lg shadow-md">

        <h2 class="text-2xl font-semibold mb-4">Bem-vindo à sua página de receitas!</h2>
        <p class="text-lg text-gray-700">Aqui você poderá organizar e compartilhar suas receitas favoritas.</p>
        <p class="mt-4 text-gray-600">Este é o início da sua jornada culinária com Django</p>


        <h2 class="text-2xl font-semibold mb-6 text-center">Nossas Últimas Receitas</h2>
        <div class="flex flex-wrap justify-center gap-6">

            <!-- receita 1 -->
            <div class="w-full sm:w-[calc(50%-1.5rem)] lg:w-[calc(33.333%-1.5rem)] bg-gray-50 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
                <h3 class="text-xl font-bold mb-2 text-gray-800">Receita de Bolo de Chocolate</h3>
                <img src="{% static 'receitas/img/bolochocolate.webp' %}" alt="Bolo de Chocolate" class="w-full h-48 object-cover rounded-md mb-4">
                <p class="text-gray-600 mb-4">Uma bolo clássico, molhadinho e delicioso, perfeito para qualquer ocasião.</p>
                <a href="#" class="text-orange-600 hover:text-orange-800 font-semibold">Ver Receita &rarr;</a>
            
            </div>
            <!-- receita 2 -->
            <div class="w-full sm:w-[calc(50%-1.5rem)] lg:w-[calc(33.333%-1.5rem)] bg-gray-50 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
                <h3 class="text-xl font-bold mb-2 text-gray-800">Frango Assado de Ervas</h3>
                <img src="{% static 'receitas/img/frango.jpg' %}" alt="Bolo de Chocolate" class="w-full h-48 object-cover rounded-md mb-4">
                <p class="text-gray-600 mb-4">Uma receita simples e saborosa de frango com um toque de ervas frescas.</p>
                <a href="#" class="text-orange-600 hover:text-orange-800 font-semibold">Ver Receita &rarr;</a>
            </div>
            <!-- receita 3 -->
            <div class="w-full sm:w-[calc(50%-1.5rem)] lg:w-[calc(33.333%-1.5rem)] bg-gray-50 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
                <h3 class="text-xl font-bold mb-2 text-gray-800">Salada Mediterrânea Fresca</h3>
                <img src="{% static 'receitas/img/salada.jpg' %}" alt="Salada Mediterrânea" class="w-full h-48 object-cover rounded-md mb-4">
                <p class="text-gray-600 mb-4">Uma salada leve e refrescante, cheia de sabores do Mediterrâneo.</p>
                <a href="#" class="text-orange-600 hover:text-orange-800 font-semibold">Ver Receita &rarr;</a>
            </div>
            <!-- receita 4 -->
             <div class="w-full sm:w-[calc(50%-1.5rem)] lg:w-[calc(33.333%-1.5rem)] bg-gray-50 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
                <h3 class="text-xl font-bold mb-2 text-gray-800">Torta de Limão Cremosa</Table></h3>
                <img src="{% static 'receitas/img/torta.png' %}" alt="Torta de Limão" class="w-full h-48 object-cover rounded-md mb-4">
                <p class="text-gray-600 mb-4">Uma torta clássica com recheio de limão azedinho e merengue tostado.</p>
                <a href="#" class="text-orange-600 hover:text-orange-800 font-semibold">Ver Receita &rarr;</a>
            </div>
            <!-- receita 5 -->
             <div class="w-full sm:w-[calc(50%-1.5rem)] lg:w-[calc(33.333%-1.5rem)] bg-gray-50 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
                <h3 class="text-xl font-bold mb-2 text-gray-800">Sopa de Legumes Nutritiva</h3>
                <img src="{% static 'receitas/img/sopa.jpg' %}" alt="Sopa de Legumes" class="w-full h-48 object-cover rounded-md mb-4">           
                <p class="text-gray-600 mb-4">Uma sopa cheia de vegetais frescos, perfeita para dias frios.</p>
                <a href="#" class="text-orange-600 hover:text-orange-800 font-semibold">Ver Receita &rarr;</a>
            </div>
            <!-- receita 6 -->
             <div class="w-full sm:w-[calc(50%-1.5rem)] lg:w-[calc(33.333%-1.5rem)] bg-gray-50 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
                <h3 class="text-xl font-bold mb-2 text-gray-800">Risoto de Cogumelos Selvagens</h3>
                <img src="{% static 'receitas/img/risoto.png' %}" alt="Risoto de Cogumelos" class="w-full h-48 object-cover rounded-md mb-4">
                <p class="text-gray-600 mb-4">Um risoto cremoso e aromático, com uma mistura rica de gogumelos selvagens</p>
                <a href="#" class="text-orange-600 hover:text-orange-800 font-semibold">Ver Receita &rarr;</a>
    </main>

    <footer class="mt-12 p-6 text-center text-gray-600">
        <p>&copy; 2023 Minhas Receitas. Todos os direitos reservados a Romulo.</p>
    </footer>