{% extends 'receitas/base.html' %}
{% block content %}
<main class="container mx-auto p-6 mt-8">
        
    <h2 class="text-2xl font-semibold mb-8 text-center text-gray-700">
        {% if query %}
            Exibindo resultados para: <strong class="text-orange-600">"{{ query }}"</strong>
        {% else %}
            Nenhum termo foi pesquisado.
        {% endif %}
    </h2>
    
    <div class="flex flex-wrap justify-center gap-6"> 
        {%if resultados%}
        {% for receita in resultados %}

        <div class="w-full sm:w-[calc(50%-1.5rem)] lg:w-[calc(33.333%-1.5rem)] bg-gray-50 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
            {% if receita.image %}
            <img src="{{ receita.image.url }}" alt="Imagem de {{ receita.title }}" class="w-full h-48 object-cover" />
            {% endif %}

            <div class="p-6">
                <h3 class="text-xl font-bold mb-2 text-gray-900">{{ receita.title }}</h3>
                <p class="text-gray-600 mb-4 h-20">{{ receita.description|truncatewords:20 }}</p>
                <a href="{% url 'receita_detail' receita.id %}" class="inline-block bg-orange-500 text-white font-bold py-2 px-4 rounded-lg hover:bg-orange-600 transition-colors">
                    Ver Receita &rarr; <i class="fas fa-arrow-right ml-2"></i>
                </a>
                
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="text-center text-gray-600 col-span-full">Nenhuma Receita Encontrada</p>
        {% endif %}  
    </div>
</main>
{% endblock %}
