{% extends 'receitas/base.html' %}
{% block content %}
<main class="container mx-auto p-6 mt-8 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold mb-6 text-center">
        {% if query %}
        Resultados para: "{{ query }}"
        {% else %}
        Nenhum termo pesquisado.
        {% endif %}
    </h2>

    <div class="flex flex-wrap justify-center gap-6">
    {% for receita in receitas %}
        <div
            class="w-full sm:w-[calc(50%-1.5rem)] lg:w-[calc(33.333%-1.5rem)] bg-gray-50 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
            {% if receita.image %}
            <img src="{{ receita.image.url }}" alt="{{ receita.title }}"
                class="w-full h-48 object-cover rounded-md mb-4">
            {% endif %}
            <h3 class="text-xl font-bold mb-2 text-gray-800">{{ receita.title }}</h3>
            <p class="text-gray-600 mb-4">{{ receita.description|truncatewords:20 }}</p>
            <a href="{% url 'receita_detail' receita.id %}"
                class="inline-block bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 px-4 rounded-full transition-colors duration-300">Ver
                Receita &rarr;</a>
        </div>
      {% empty %}
        <p class="text-center text-gray-600 col-span-full">Nenhuma receita encontrada.</p>
      {% endfor %}
    </div>
</main>
{% endblock %}
<footer class="mt-12 p-6 text-center text-gray-600">
    <p>&copy; 2025 Minhas Receitas. Todos os direitos reservados a romulo.</p>
</footer>