{% extends 'receitas/base.html' %}
{% block title %}Sobre Nós - Receitas{% endblock %}

{% block content %}
<div class="containere mx-auto mt-8 p-4 ">
    <div class="bg-white dark: bg-gray-800 rounded-lg shadow-2xl overflow-hidden">
        <div class="p-8 text-center bg-gray-100 dark:bg-gray-700">
            <h1 class="text-4xl font-extrabold text-gray-900 dark:text-white mb-4">Sobre Nós</h1>
            <p class="text-lg text-gray-600 dark:text-gray-400 max-w-2xl mx-auto">Bem-vindo ao nosso site de receitas!
                Somos apaixonados por culinária e adoramos compartilhar nossas receitas favoritas com você. Nossa missão
                é inspirar você a cozinhar pratos deliciosos e saudáveis em casa.</p>
        </div>



        <div class="p-8 lg:p-12 grid lg:grid-cols-2 gap-8 items-center">
            <div class="text-gray-600 dark:text-gray-300 space-y-4">
                <h2 class="text-2xl font-bold text-gray-900 dark:text-white">Nossa Paixão, Nossa Missão</h2>
                <p>Acreditamos que cozinhar é mais do que preparar alimentos - é uma forma de arte, de conexão e de
                    celebração.
                    É por isso que criamos este espaço: para ser um guia confiável para todos os amantes da culinária,
                    desde
                    iniciantes até chefs experientes.</p>
                <p>Aqui você encontrará uma vasta coleção de receitas cuidadosamente selecionadas e testadas, que
                    celebram a
                    diversidade gastronômica. De pratos clássicos da culinária brasileira a sabores exóticos de Ásia, de
                    sobremesas que aquecem o coração a refeições rápidas para o dia a dia.</p>
            </div>
        </div>

        <div class="p-8 lg:p-12 text-center bg-gray-50 dark:bg-gray-700">
            <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">Junte-se à Nossa Comunidade</h2>
            <p class="text-gray-600 dark:text-gray-400 mb-6 max-w-3xl mx-auto">
                Compartilhe suas experiências, suas dicas e suas criações. Vamos juntos embarcar nessa jornada
                deliciosa,
                onde
                cada receita é uma nova aventura e cada prato uma nova descoberta.
            </p>
            <a href="{% url 'home' %}"
                class="inline-block bg-orange-500 text-white font-bold py-3 px-6 rounded-full shadow-lg hover:bg-orange-600 transition-colors duration-300 transform hover:-translate-y-1 ">Voltar
                para a Página Inicial</a>

        </div>
    </div>
</div>
{% endblock content %}