{% extends 'receitas/base.html' %}

{% block title %} Sobremesas - Minhas receitas {% endblock %}

{% block content %}

    <h2 class="text-2xl font-semibold mb-6">Receitas de Sobremesas</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <div class="bg-gray-100 p-4 rounded-lg shadow hover:shadow-lg transition">

                    <img src="{% static 'img/boloChocolate.jpg' %}" alt="Doce" class="rounded-lg mb-4">

                <h3 class="text-lg font-semibold">Bolo de chocolate</h3>
                <p class="text-gray-600 mb-4">Sobremesa clássica e irresistível.</p>
            </div>
    </div>
{% endblock %}