{% extends 'receitas/base.html' %}
{% block title %}Home - Sabores da Casa{% endblock %}
{% block content %}

    <section class="container mx-auto mt-8 p-4 flex justify-center">
        <form method="get" 
              action="{% url 'pesquisar_receitas' %}" 
              class="w-full max-w-lg flex bg-white rounded-full shadow-md overflow-hidden">
            
            <input 
                type="text" 
                name="q"
                placeholder="Pesquisar receitas..." 
                class="flex-grow p-3 text-gray-700 focus:outline-none focus:ring-2 focus:ring-orange-500 rounded-l-full pl-5">
            <button 
                type="submit"
                class="bg-orange-500 hover:bg-orange-600 text-white p-3 px-6 rounded-r-full ransition duration-200 ease-in-out flex items-center justify-center">
                    <i class="fas fa-search mr-2"></i>Pesquisar
            </button>

        </form>
        {% for categoria in categorias_choices %}
                <a href="{% url 'categoria' categoria %}" class="text-gray-300 hover:text-white mx-2">{{ categoria|capfirst }}</a>
            {% endfor %}
    </section>

<h2 class="text-2xl font-semibold mb-6 text-center mt-8">Receitas Recentes</h2>
    <div class="flex flex-wrap justify-center gap-6">
        {% for receita in receitas %}
        <div class="w-full sm:w-[calc(50%-1.5rem)] lg:w-[calc(33.333%-1.5rem)] bg-gray-50 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
            {% if receita.image %}
            <img src="{{ receita.image.url }}" alt="Imagem de {{ receita.title }}" class="w-full h-48 object-cover rounded-md mb-4" />
            {% endif %}
            <h3 class="text-xl font-bold mb-2 text-gray-800">{{ receita.title }}</h3>
            <p class="text-gray-600 mb-4">{{ receita.description|truncatewords:20 }}</p>
            <a href="{% url 'receita_detail' receita.id %}" class="inline-block bg-orange-500 hover:bg-orange-600 text-white font-senibold py-2 px-4 rounded-full transition-colors duration-300">
                Ver Receita &rarr;
            </a>
        </div>
        {% empty %}
        <p class="text-center text-gray-500 col-span-full">Nenhuma receita encontrada.</p>
        {% endfor %}
    </div>
{% endblock %}